<h1>Welcome <%= @user.name %></h1>

<section id="discover-movies">
<%= button_to "Discover Movies", discover_index_path, method: :get %>
</section>

<section id="friends">
  <h2>Friends:</h2>
  Add Friend by Email
  <%= form_tag '/friends', method: :create do %>
    <%= label_tag :email %>
    <%= text_field_tag :email %>

    <%= submit_tag "Add Friend" %>
  <% end %>

  <% if @user.friends.empty? %>
    <p>You currently have no friends</p><br>
  <% else %>
    <% @user.friends.each do |friend| %>
      <%= friend.name %><br>
    <% end %>
  <% end %>
</section>

<section id="events">
  <h2>Events:</h2><br>
  <% @user.view_parties.each do |party| %>
    <h4>Movie Title: <%= party.find_movie_title %></h4><br>
    Duration: <%= party.duration %><br>
    Attendees: <% party.all_invited.each do |attendee| %><br>
      <%= attendee.name %><br>
    <% end %>
  <% end %>
</section>
